#contact {
    margin-top: 100px;
    padding: 100px 0;
}

#contact .title-contact {
    text-align: center;
}

#contact .title-contact>.title {
    font-size: 2rem;
    font-family: var(--font-outifit);
    color: #fff;
}

#contact .title-contact>.sub {
    font-size: 0.7rem;
    font-family: var(--font-inter);
    color: #fff;
}

.info-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    padding-top: 25px;
}

.box-contact {
    width: 500px;
    height: 50px;
    background: #2A2A2B;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 140px;

    font-size: 1rem;
    font-family: var(--font-inter);
    color: #fff;
}

.box-contact span > a {
    text-decoration: none;
    color: #fff;
}

.box-contact .fa-linkedin {
    position: relative;
    right: 190px;
}

.box-contact .fa-whatsapp {
    position: relative;
    right: 160px;
}

.box-contact .fa-envelope {
    position: relative;
    right: 115px;
}