#footer {
    display: flex;
    justify-content: space-between;
    max-height: 5vh;
    align-items: center;
    font-size: 0.875rem;
    font-family: var(--font-inter);
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(2px);

    padding: 5px;

    margin-top: 100px;
}

.poweredby {
    display: flex;
    align-items: center;
    gap: 5px;
}

.poweredby > #logo {
    height: 4vh;
}