#home {
    margin-top: 50px;
    background: linear-gradient(260deg, rgba(151, 71, 255, 0.31) 0.78%, rgba(0, 0, 0, 0.31) 99.29%);
    backdrop-filter: blur(2px);

    border: 1px solid rgba(151, 71, 255, 0.5);
    border-radius: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 40px;
}

#home .home-left {
    max-width: 50%;
    
    font-size: 1.2rem;
    font-family: var(--font-outifit);
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-right {
    max-width: 50%;
}

.home-right > img {
    max-width: 90%;
}

#button-github {
    padding: 5px 15px;
    border-radius: 15px;
    border: none;

    background: #000;
    color: #fff;

    font-size: 1rem;
    font-family: var(--font-outifit);
}

#button-linkedin {
    padding: 5px 15px;
    border-radius: 15px;
    border: none;

    background: #fff;
    color: #000;
    font-size: 1rem;
    font-family: var(--font-outifit);
}