@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: #111111;
    font-size: 62.5%;
}

/* HEADER */
#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #111111;
    max-height: 80px;
    padding: 40px 60px;
    color:#9CA3AF;
    /* position: fixed; */
    border-radius: 0px 0px 10px 10px;
}

#button-menu {
    display: none;
}

.menu > ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu > ul > li {
    list-style: none;
    font-size: 1rem;
    cursor: pointer;
}

.logo {
    max-width: 200px;
}

#button-menu  {
    font-size: 1rem;
    padding: 8px;
    border: 1px solid #242424;
    border-radius: 5px;
    background: #111111;
    color: #fff;
}

.menu li:hover {
    color: #fff;
    transition: all .2s;
    animation: underline .5s;
}

/* MAIN */

/* HOME */
#home {
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 50px;
}

.img-home {
    max-width: 400px;
}

.home-left p {
    font-size: 1.56rem;
    color: #fff;
}

.home-left h1 {
    font-size: 4rem;
    color: #fff;
}

.home-left-button {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.home-left .button-github {
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    max-width: 130px;
    min-width: 120px;
    font-weight: bold;
    background: #000;
    color: #fff;

    font-size: 1rem;
    font-family: var(--font-outifit);
    cursor: pointer;
}

.home-left .button-linkedin {
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    max-width: 130px;
    min-width: 120px;
    font-weight: bold;
    background: #fff;
    color: #0A66C2;
    font-size: 1rem;
    font-family: var(--font-outifit);
    cursor: pointer;
}

.button-linkedin:hover {
    background: #0A66C2;
    color: #fff;
    transition: all .2s;
}

.button-github:hover {
    background: #fff;
    color: #000;
    transition: all .2s;
}

/* ABOUT */
#about {
    height: 100vh;
    background: #111111;
    display: flex;
    padding: 50px;
}

.img-about {
    max-width: 400px;
}

.container-about {
    width: 90vw;
    margin: auto;
    border-radius: 20px;
    background: #0A0A0A;
    display: flex;
    padding: 50px;
    gap: 20px;
}

.title-about {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff;
}

.title-about p {
    font-size: 1rem;
}

.title-about h2{
    font-size: 2rem;
}

.sub-about {
    margin-top: 10px;
    color: #9CA3AF;
    font-size: 1rem;
}

.icons-about {
    font-size: 2.5rem;
    margin-top: 20px;
    color: #9CA3AF;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.icons-about i {
    padding: 12px 15px;
    border: 1px solid #9CA3AF;
    border-radius: 10px;
}

.icons-about i:hover {
    color: #986DFF;
    border: 1px solid #986DFF;
    transition: all .2s;
}

/* EXPERIENCE */
#experience {
    width: 100%;
    height: auto;
    background: #000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#experience h2{
    font-size: 2rem;
    color: #fff;
}

.container-experiences {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box-office{
    color: #fff;
    width: 100%;
    background: #242424;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-office {
    width: 60px;
}

.office {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.office h3 {
    font-size: 1rem;
}

.office p {
    font-size: .8rem;
}

.icon {
    font-size: 1.5rem;
    padding: 5px 10px;
    background: #986DFF;
    border-radius: 50%;
    cursor: pointer;
    animation: pulsar .8s linear infinite;
}


/* SERVICE */
#service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 50px;
    padding: 50px;
}

.title-service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-service h2 {
    font-size: 2rem;
    color: #fff;
}

.title-service p {
    font-size: 1rem;
    color: #9CA3AF;
}

.box-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service {
    min-width: 250px;
    width: 350px;
    min-height: 200px;
    height: 300px;
    background: #242424;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 50px;
    border: 1px solid #111111;
}

.service:hover {
    color: #986DFF;
    border: 1px solid #986DFF;
    transition: all .2s;
    animation: focus .2s forwards;
}

.service i {
    font-size: 3rem;
    color: #986DFF;
}  

.service h3 {
    font-size: 2rem;
    color: #fff;
}

.service p {
    font-size: 1rem;
    color: #9CA3AF;
}

/* PROJECTS */
#projects {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    gap: 50px;
    height: auto;
}

.title-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-projects h2 {
    font-size: 2rem;
    color: #fff;
}

.title-projects p {
    font-size: 1rem;
    color: #9CA3AF;
}

.container-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid #ffffff1f;
    border-radius: 20px;
    padding: 50px 25px;
    background: #2a2a2b59;
}

.box-project {
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    background: #242424;
    border: 1px solid #ffffff1f;
}

.img-project {
    max-width: 300px;
    border-radius: 5px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-description {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 10px;
}

.sub-description {
    color: #9CA3AF;
    font-size: .9rem;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-technologies {
    font-size: 1.5rem;
    color: #9CA3AF;
}

.button-preview {
    padding: 8px;
    font-size: 1rem;
    background: #111111;
    outline: none;
    border: 1px solid #ffffff1f;
    border-radius: 10px;
    width: 100px;
    color: #fff;
    cursor: pointer;
}

.button-preview:hover {
    background: #ffffff1f;
    transition: all .2s;
}

/* SKILLS */
#skills {
    background: #111111;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: justify;    padding: 50px 0px 0px 0px;
    gap: 50px;
    align-items: start;
    padding: 50px;
}

.container-title {
    width: 50%;
    height: 100%;
}

.container-title h2 {
    font-size: 2rem;
    color: #fff;
}

.container-title p {
    font-size: 1rem;
    color: #9CA3AF;
}

.container-title .resume-skills {
    width: auto;
    height: auto;
    font-size: 1rem;
    color: #fff;
    padding-top: 10px;
}

.container-slidein {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.box-skill {
    display: flex;
    gap: 10px;
    padding: 20px;
    background: #242424;
    width: 150px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    border: 1px solid #ffffff1f;
}

.box-skill:hover {
    background: #111111;
    border: 1px solid #ffffff1f;
    transition: all .2s;
}


/* CONTACT */
#contact {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 50px;
    color: #fff;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.title-contact {
    text-align: center;
}

.title-contact h2 {
    font-size: 2rem;
}

.title-contact p {
    font-size: 1rem;
    color: #9CA3AF;
}

.info-contact {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.box-contact {
    min-width: 350px;
    max-width: 500px;
    height: 50px;
    background: #242424;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;
    font-family: var(--font-inter);
    color: #fff;

    padding: 0 20px;

    cursor: pointer;
}

.box-contact a {
    text-decoration: none;
    color: #fff;
}

.box-contact:hover {
    background: #111111;
}

/* FOOTER */
#footer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    font-weight: bold;
}

#footer a {
    text-decoration: none;
    color: #986DFF;
}

.poweredby {
    display: flex;
    align-items: center;
    gap: 5px;
}

.poweredby img {
    max-width: 100px;
}

/* KEYFRAMES */

@keyframes pulsar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(5%);
    }
}

@keyframes focus {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}