#projects {
    margin-top: 50px;
    position: relative;
    background: rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 30px 55px;
}

#projects::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: inherit;
    z-index: -1;
    backdrop-filter: blur(2px);
    opacity: 0.2;
}

#projects .title-projects {
    text-align: center;
    color: #fff;
    width: 250px;
}

#projects .title-projects > .title {
    font-size: 2rem;
    font-family: var(--font-outifit);
} 

#projects .title-projects > .sub {
    font-size: .7rem;
    font-family: var(--font-inter);
} 

#projects .container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#projects .box-project {
    max-width: 100%;
    background: linear-gradient(231deg, rgba(151, 71, 255, 0.20) 28.42%, rgba(0, 0, 0, 0.20) 72.36%), #0D0D0D;
    backdrop-filter: blur(2px);



    padding: 10px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#projects .box-project img {
    max-width: 100%;
    border-radius: 15px;
}

#projects .description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#projects .name-description {
    font-size: 1.2rem;
    font-family: var(--font-outifit);
    color: #fff;
}

#projects .sub-description {
    font-size: 0.8rem;
    font-family: var(--font-inter);
    color: #fff;
}

#projects .technologies {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
}

#projects .icons-technologies {
    font-size: 1.2rem;
    color: #9747ff96;
}

#projects #button-preview {
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.50);

    background: #2A2A2B;
    color: #fff;
    font-size: .9rem;
    font-family: var(--font-outifit);
}

#projects #button-view-all{
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.50);

    background: #2A2A2B;
    color: #fff;
    font-size: .9rem;
    font-family: var(--font-outifit);
}