@media screen and (min-width:320px) and (max-width: 480px) {

    /* HEADER */
    #header>nav {
        display: none;
    }

    /* HOME */
    #home {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #home .home-left {
        text-align: center;
    }

    #home .home-left .title-box .title {
        font-size: 2rem;
    }

    #home .home-left .title-box .name-title {
        font-size: 3rem;
    }

    #home .home-left .title-box .profission {
        font-size: 2rem;
    }

    #home img {
        width: 80%;
    }

    /* ABOUT */
    #about {
        flex-direction: column;
        justify-content: center;
    }

    #about .about-left {
        justify-content: center;
    }

    #about .about-right {
        text-align: justify;
    }

    #about img {
        width: 90%;
    }

    /* KNOWLEDGE*/
    #knowledge {
        flex-direction: column;
        gap: 20px;
    }

    #knowledge .container-hard-skills {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    /* CONTACT */
    #contact .box-contact {
        width: 90%;
        font-size: 1.2rem;
    }


    /* FOOTER */
    #footer {
        padding-top: 30px;
        font-size: .8rem;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

}


@media screen and (min-width: 481px) and (max-width: 768px) {

    /* HEADER */
    header>.fa-bars {
        display: inline;
    }

    header>nav {
        display: none;
    }

    /* HOME */
    #home img {
        width: 90%;
    }

    #home .home-left {
        text-align: center;
    }

    #home .home-left .title-box .title {
        font-size: 2rem;
    }

    #home .home-left .title-box .name-title {
        font-size: 2rem;
    }

    #home .home-left .title-box .profission {
        font-size: 1.4rem;
    }

    /* ABOUT */
    #about {
        justify-content: center;
    }

    #about .about-left {
        justify-content: center;
    }

    #about .title {
        font-size: 2rem;
        font-family: var(--font-outifit);
    }

    #about .sub-title {
        font-size: 1.6rem;
    }

    #about .description-about {
        font-size: 1.4rem;
    }

    #about .about-right {
        text-align: justify;
    }

    #about .about-left img {
        width: 200px;
    }

    /* PROJECTS */
    #projects .title-projects>.title {
        font-size: 2rem;
    }

    #projects .title-projects>.sub {
        font-size: 1.4rem;
    }

    #projects .box-project {
        max-width: 45%;
    }

    /* KNOWLEDGE*/
    #knowledge {
        gap: 70px;
        flex-direction: column;
    }

    #knowledge .knowledge-left>.title {
        font-size: 2rem;
    }

    #knowledge .knowledge-left>.sub {
        font-size: 1.5rem;
    }

    #knowledge .container-hard-skills {
        grid-template-columns: repeat(4, 1fr);
        align-self: center;
        justify-content: center;
    }

    /* CONTACT */
    .box-contact .fa-linkedin {
        position: relative;
        right: 190px;
    }

    .box-contact .fa-whatsapp {
        position: relative;
        right: 160px;
    }

    .box-contact .fa-envelope {
        position: relative;
        right: 120px;
    }

    /* FOOTER */
    #footer {
        padding: 5px 0;
        font-size: 0.6rem;
    }

    #footer img {
        max-width: 25px;
    }
}

@media screen and (min-width: 769px) and (max-width:1279px) {

    /* HEADER */
    header>.fa-bars {
        display: none;
    }

    header>nav {
        display: inline;
    }

    /* HOME */
    #home .home-left {
        font-size: .8rem;
    }

    /* ABOUT */
    #about .about-right {
        font-size: .8rem;
        max-width: 50%;
    }

    #about .sub-title {
        font-size: 1.4rem;
    }

    /* PROJECTS */
    #projects .title-projects>.title {
        font-size: 1.4rem;
    }

    #projects .title-projects>.sub {
        font-size: .8rem;
    }

    #projects .box-project {
        max-width: 40%;
    }
}

@media screen and (min-width: 1280px) {
    header>.fa-bars {
        display: none;
    }

    header>nav {
        display: inline;
    }
}